.file-group {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.button-file {
  display: flex;
  align-items: center;
  background-color: var(--shape-button);
  border-radius: .5rem;
  margin: .25rem .75rem .25rem 0;
  width: 119px;
  height: 40px;
  /* padding: 2rem; */
  & img {
    width: 1rem;
    height: 1rem;
    margin: .25rem;
  }
}

.custom-file-label {
  color: var(--text-heading);
  padding: .25rem;
  cursor: pointer;
}

#file-name {
  color: var(--input-placeholder);
}

.error-msg {
  color: var(--danger);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  & img {
    margin-right: 8px;
    width: 1rem;
    height: 1rem;
  }
}
