.radio-inner {
  width: 134px;
  height: 103px;
  background-color: var(--shape-button);
  border-radius: 8px;
  margin: .25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;

  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.radio-inner input[type="radio"] {
  display: none;
}

.radio-inner img {
  width: 126px;
  max-width: 126px;
  height: 64px;
  border-radius: 4px;
  display: block;
  margin: 4px 4px 0 4px;
}

.radio-inner label {
  text-align: center;
  color: var(--text-body);
  font-size: 0.875rem;
  margin: 0;
}
