textarea {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: var(--text-heading);
  width: 100%;
  font: var(--text-md);
  &:hover {
    outline: 1px solid var(--input-placeholder);
  }
}
textarea:focus-visible {
  border-color: var(--brand-light);
  outline: none;
}

