@import url(fields/index.css);

/* ---------- MAIN CONTENT ---------- */
.main-content {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
}

/* ---------- FORMULÃRIO EM GRID ---------- */
form {
  all: unset;
  box-sizing: border-box;
}

/* Itens que devem ocupar as duas colunas */
.full-width,
.title-wrapper,
.desc-wrapper,
.about-event > h2,
.about-event > img {
  grid-column: span 2;
}

/* ---------- CAMPOS E INPUTS ---------- */
input[type="text"] {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: var(--text-heading);
  width: 100%;
  font: var(--text-md);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
}

input[type="date"] {
  color: var(--input-placeholder);
  text-transform: uppercase;
}


/* ---------- TEXTAREA ---------- */
textarea {
  min-height: 120px;
  resize: vertical;
}
