* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*titulos*/

  --logo: 400 2.5rem/auto "Leckerli One", cursive;
  --h2: 800 1.75rem/auto "Baloo 2", sans-serif;
  --h3: 800 1.125rem/auto "Baloo 2", sans-serif;

  /*Span*/

  --span-md: 600 1rem/auto "Open Sans", sans-serif;
  --span-sm: 600 .875rem/auto "Open Sans", sans-serif;
  --span-xs: 600 .75rem/auto "Open Sans", sans-serif;

  /*Texto*/

  --text-md: 400 1rem/auto "Open Sans", sans-serif;
  --text-sm: 400 .875rem/auto "Open Sans", sans-serif;
  --text-xs: 400 .75rem/auto "Open Sans", sans-serif;

  /*cores dos textos*/

  --text-heading: #F9F9F9;
  --text-body: #C8CDD0;

  /*Feedback*/

  --danger: #FF5959;

  /*Cores do brand*/

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Accent colors*/

  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;
  
  /*Input*/

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /*Shape*/

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;
   
}

body {
  font: var(--text-md);
  color: var(--text-body);

  background-color: var(--shape-body);

  overflow: hidden;
  height: 100vh;

}

h1, h2, h3 {
  color: var(--text-heading);
}

h2 {
    margin-bottom: 3rem;
}

h3 {
  padding-left: .75rem;
}

label {
  font: var(--text-sm);
  color: var(--text-body);

  display: block;
  margin-bottom: .25rem;
  padding: 1rem 1rem 1rem 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  /* width: 100%; */
  
}

.personalization {
  padding-top: 3rem;
}

.flex {
  display: flex;
}

/* Garante que ambos tenham 50% do espaço */
.flex-1, .flex-2 {
  flex: 1;
}

.select-theme {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
